@import "tailwindcss";
@source "../../safelist.txt";
@config '../../tailwind.config.js';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  html {
    scroll-behavior: smooth;
  }

  .bw-icon {
    fill: #292929;
  }

  .dark .bw-icon {
    fill: #f8f8f8;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f8f8f8;
    padding: 2px;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
  }

  .dark ::-webkit-scrollbar-track {
    background: #393939;
    border-left: 1px solid #595959;
    border-right: 1px solid #595959;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #cbcbcb;
    padding: 2px;
    border-radius: 9px;
    background-clip: content-box;
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: #7c7c7c;
    border: 1px solid transparent;
    border-radius: 9px;
  }

  /* Handle on hover */
  .dark ::-webkit-scrollbar-thumb:hover {
    width: 10px;
    background: #888;
  }
}

@layer base{
  body {
    @apply dark:bg-bg-900 bg-bg-0 dark:text-gray-300 text-black;
  }
}