@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior:smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 255, 255, 255;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cccccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #989898;
  border: 1px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

body {
  color: rgb(var(--foreground-rgb));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 30, 30;
    --background-end-rgb: 20, 20, 20;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #393939;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #7c7c7c;
    border: 2px solid transparent;
    border-radius: 9px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
